<% provide(:title, "Attire") %>
<h3>Ceremony Attire</h3>
<p class="lead">Recommended dress is daytime semi-formal. We can’t wait to see you all looking your daytime best!</p><p>The ceremony will involve a small, non-strenuous hike of less than five minutes. There is alternate access to the ceremony site for those with limited mobility – talk to Maile if you have questions. The ceremony is in a field, and the reception is on the grass. Comfortable wedges, block heels or flats are suggested so you do not get stuck!</p>
<p>We expect the weather to be summery during the day and cool at night. However, it is the high desert so really anything can happen!</p>
