<% provide(:title, "Events") %>
<h3>Events Calendar:</h3>
<p class="lead">We've lined up some activities to help you experience Park City to the fullest extent possible. All activities are optional, so join us for whatever sounds fun! If you want to organize your own activity, or just sit by the pool, that is great, too! Wondering whether to bring the kids? Look for the #kidfriendly tag.</p>

<div data-tockify-component="calendar" data-tockify-calendar="marchie.party">Calendar of Events filler</div>
