<% provide(:title, "Kids") %>
<h3>Kids</h3>
<p class="lead">
    We love 'em! Please bring 'em!
</p>
<p>The ceremony and most wedding-week activities are family-friendly. However, if it works better for you to leave the kids at home, that’s fine too! Children are welcome but not mandatory.
<p>
During the ceremony and reception we will have two very responsible high school students available to play with and monitor children in a playroom, where we can show movies, play games, etc.</p>
<p>If you would like to arrange childcare for other times during the week, we highly recommend Taylor Potatsky. She is a student at the University of Utah and a very experienced childcare provider with excellent references. I can attest that children LOVE her (and adults too, she is the best). She is available any day except the wedding day (where she will be our guest!), and you can contact her at 413-563-3020.</p>
