<% provide(:title, "Park City") %>
<h3>Park City</h3>
<p class="lead">There is so much fun stuff to do in Park City – ranging from hiking and mountain biking to shopping and fine dining. <a target="_blank" href="http://utaholympiclegacy.org/summer-activities-landing-page/">Even ziplining!</a>
<p>We have built out a <%= link_to "schedule", events_path %> of optional activities to help you experience Park City to the fullest. If you happen to have extra time, or if the group activities are not your cup of tea, here are a few more we suggest:<br/>
<ul>
    <li>Take a <a href="http://parkcityhistory.org/events-old/historic-walking-tours/">Walking Tour of Historic Main Street</a></li>
    <li>Feel like an Olympian at the <a href="http://utaholympiclegacy.org/Park/">Utah Olympic Park</a></li>
    <li>Go down the water slide at the <a href="http://www.parkcity.org/departments/park-city-marc-recreation/pc-marc/aquatics">Park City MARC</a></li>
</ul>
...and so much more! If you are looking for recommendations on activities, <%= link_to "contact Maile or Marion", contact_path %></p></p>
<p>Most of Park City lies 7,000 feet or more above sea level. Those of you coming from sea level might feel the altitude for the first couple of days. Symptoms can include headache, mild nausea, and shortness of breath during exercise. Drink lots of water <del>and not too much alcohol</del> and more water. Park City is a high desert climate: it is very dry and the sun is strong. Bring lotion, lip balm, and a water bottle. Wear lots of sunscreen; hats and dark sunglasses are recommended. In September there are certain grasses and brush that may cause allergies; if you are susceptible to seasonal allergies we recommend that you bring your favorite allergy treatments. <b>It’s a beautiful place dear to our hearts, and we can’t wait to share it with you!</b></p>
