<% provide(:title, "Registry") %>
<h3>Registry</h3>
<p class="lead">Your love, support, and friendship means more to us than any gift!</p>
<p>If you would like to show your support through a gift, we encourage donations to the following organizations:</p>
<ul>
    <li><a href="https://aclu-wa.org">ACLU of Washington</a>, where Mike has volunteered.</li>
    <li><a href="https://feministfrequency.com">Feminist Frequency</a>, where Maile proudly serves on the board of directors.</li>
</ul>
<p>For those whose love language is giving gifts, <a href="https://www.zola.com/registry/maileandmike">you can find our registry here.</a></p>
