<% provide(:title, "Travel") %>
<h3>Travel</h3>
<ul>
    <li>The closest airport is Salt Lake City (SLC).</li>
    <li>Uber/Lyft from the airport to Park City costs about $45. For larger parties, a shuttle service such as <a target="_blank" href="http://www.myshuttleparkcityutah.com/">My Shuttle</a> may make sense, however I suspect that Uber XL will be most cost effective.</li>
    <li>The bus system within Park City is FREE and quite comprehensive. Use Google Maps "transit" directions to determine how to get around by bus. Park City itself is quite walkable, so you can do a lot without a car. However, depending on where you stay and your personal preferences, you may choose to rent a car. Either way is fine!</li>
    <li>We are planning <%= link_to "lots of activities", events_path %> for the days leading up to and following the wedding. For maximum fun, arrive in Park City by Thursday, September 8 (if not sooner!)</li>
</ul>
<h3>Accomodations</h3>
<ul style>
    <li>Renting a home through <a target="_blank" href="http://www.airbnb.com">Airbnb</a> or <a target="_blank" href="http://www.vrbo.com">VRBo</a> is a great option. Check out Park Meadows or Old Town areas. There are lots of great options all over town, though, and if you want feedback before booking a place, don’t hesitate to ask <%= link_to "Maile or Marion", contact_path %>!</li>
    <li>If you are a single person, couple, or small group looking to join a group house, let Maile know. We'll help match you!</li>
    <li>We have rooms reserved at <a target="_blank" href="http://www.parkcitypeaks.com/">Peaks Hotel Park City</a>. If you reserve by August 14, the room rate is $159/night, while supplies last. Contact them at 435-649-5000 and reference the group room block "Martinez-Archambault" to make your reservation.</li>
    <li>Park City has many fine luxury hotel options as well. A few we recommend:<ul>
        <li><a target="_blank" href="https://www.montagehotels.com/deervalley/">Montage Deer Valley</a> – Beautiful mountain setting at the top of Deer Valley. Free smores bar every night!</li>
        <li><a target="_blank" href="http://www.stregisdeervalley.com/">St. Regis Park City</a> – Beautiful mountain setting at the Deer Valley ski area with gorgeous amenities.</li>
        <li><a target="_blank" href="http://www.skyparkcity.com/">Main and Sky Park City</a> – Luxury hotel with amazing location, right at the foot of Historic Main Street. Easy walk to shops, dining, bars, etc.</li>
    </ul></li>
    <li>There are many more amazing hotels in Park City – reach out to Maile or Marion for more recommendations!</li>
</ul>
