@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Futura Heavy';
    src: url('futuraheavy.ttf') format('truetype');
    src: url('futuraheavy-webfont.woff2') format('woff2'),
         url('futuraheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Light';
    src: url('futuraLight-webfont.woff2') format('woff2'),
         url('futuraLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navsmall {
    height: 5%;
    line-height: 0px;
}

body {
    font-family: 'Futura Light';
    font-size: 150%;
}

.customNavBar {
    font-family: 'Futura Heavy';
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    background-image: image_url("parkcityCropShort.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 100px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
    font-size: 155%;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.bottomAlign {
    padding-top: 20px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

.navbar-nav > li > a {
  padding-bottom: 0px;
  vertical-align: bottom;
  color: white;
}

.navbar-default > li > a {
    color: white;
}

.singlespace {
        line-height: 50%;
}

.navbarDisappear {
    line-height: 15px;
}

@media (min-width: 300px) {
    .customNavBar {
        padding-top: 20px;
    }
}


@media (min-width: 767px) {
    .navbarDisappear {
      display: none;
    }
}


@media (min-width: 930px) {
      .navbarDisappear {
        display: inherit;
    }
}
